# data & benchmarks
DIV2K/
benchmarks/

# results / checkpoints / logs / figures
results/
figures/
wandb/
*.pth

# python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.venv/

# editors / OS
.vscode/
.idea/
.DS_Store
